# Node.js dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# TypeScript build files
dist/
*.tsbuildinfo

# Editor & OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.temp/
.cache/
